@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  animation: spin 2s linear infinite;
  padding: var(--em-card-loader-padding, 0.25rem);
  width: var(--em-card-loader-size, 1.5rem);
  height: var(--em-card-loader-size, 1.5rem);
  background: none;
  color: var(--em-card-loader-color, #212129);
}
